@use '../forward'as *;



.c-cta {
  @include focusOutline;
  @include typo-cta;

  & {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    outline: none;
    outline-offset: var(--sz-outlineOffset);

    border: 1px solid;
    border-radius: var(--sz-borderRadius);
    padding: 0 1.5em;

    white-space: nowrap;
    text-decoration: none;

    color: var(--clr-textOnSurface);
    background-color: var(--clr-action);

    transition:
      scale var(--an-duration) var(--an-ease),
      border-color var(--an-duration) var(--an-ease),
      color var(--an-duration) var(--an-ease),
      background-color var(--an-duration) var(--an-ease);
  }



  &--primary {
    border-color: var(--clr-action);
    color: var(--clr-textOnSurface);
    background-color: var(--clr-action);

    &:focus-within,
    &:hover {
      border-color: var(--clr-actionHover);
      background-color: var(--clr-actionHover);
      scale: 1.1;
    }

    &:active {
      border-color: var(--clr-actionFocus);
      background-color: var(--clr-actionFocus);
      
      scale: 1.1;
      translate: 1px -1px;
    }
  }



  &--secondary {
    border-color: var(--clr-action);
    color: var(--clr-text);
    background-color: transparent;

    &:focus-within,
    &:hover {
      border-color: var(--clr-actionHover);
      color: var(--clr-textOnSurface);
      background-color: var(--clr-actionHover);
      
      scale: 1.1;
    }

    &:active {
      border-color: var(--clr-actionFocus);
      color: var(--clr-textOnSurface);
      background-color: var(--clr-actionFocus);
      
      scale: 1.1;
      translate: 1px -1px;
    }
  }
}