@use '../forward'as *;



.c-input,
.c-textarea {
  @include focusOutline;

  & {
    outline: none;
    border: none;

    border-radius: var(--sz-borderRadius);
    border-block-end: var(--in-borderWidth) solid var(--clr-borderMuted);
    width: 100%;
    padding: var(--in-paddingBlock) var(--in-paddingInline);

    color: var(--clr-text);
    background-color: var(--shd-background);

    transition: border-color var(--an-duration) var(--an-ease);
  }

  &:focus {
    border-color: var(--clr-borderStrong);
  }

  &::placeholder {
    color: var(--clr-textMuted);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--clr-textInverse);
    -webkit-box-shadow: 0 0 0px 40rem var(--clr-info) inset;
  }
}



.c-textarea {
  height: 6em;
}



// hide ridiculous spinner in number inputs
::-webkit-inner-spin-button {
  display: none;
}

.c-input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}