@use '../forward'as *;



.c-more {
  cursor: pointer;

  border: none;
  margin-block-start: 1em;

  font-size: 0.8em;

  color: var(--clr-text);
  background-color: transparent;

  &::before {
    content: '› ';
  }



  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: all var(--an-duration) var(--an-ease);

    &[data-state='open'] {
      grid-template-rows: 1fr;
    }
  }



  &__contentInner {
    overflow: hidden;
  }
}