<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Björn Müller, webARTelier">
  <meta name="description" content="Fee Scrollspy Template">

  <title>Yore Scrollspy</title>

  <!-- set color theme class without FOUC -->
  <script src="../js/setcolortheme.js"></script>
  <!-- end set color theme class without FOUC -->

  <script src="../js/main.min.js" defer></script>

  <!-- development only -->
  <script src="../js/_dev/dev_pageinfo.js" defer></script>
  <script src="../js/_dev/dev_a11yInspector.js" defer></script>
  <!-- end development only -->

  <link rel="stylesheet" href="../css/demo.css">
  <link rel="stylesheet" href="../css/main.min.css">
</head>

<body>

  <div class="demo">
    <div class="demo__header">
      <a class="demo__homeLink" href="../index.html" aria-label="To index page">
        <svg class="demo__logo" role="img" aria-label="Yore Logo">
          <use href="../media/img/content/logo_yore.svg#logo"></use>
        </svg>
      </a>
      <h1 class="demo__headline">Scrollspy</h1>
    </div>
  </div>



  <main class="demo">
    <div class="demo__section js-scrollspyContent">

      <!-- scrollspy content item -->
      <div id="item1" class="m-scrollspyContentItem js-scrollspyContentItem">
        <div class="demo__subline"><strong>Item 1</strong></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit explicabo voluptates hic
          repudiandae exercitationem fuga enim, quas officiis sint ut dolores. Laudantium reprehenderit earum
          perferendis, nihil fugit dicta doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium, voluptas asperiores necessitatibus doloribus cum non molestiae minima impedit omnis temporibus
          tenetur consectetur, assumenda possimus eaque dolorem consequuntur expedita doloremque fuga.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit explicabo voluptates hic
          repudiandae exercitationem fuga enim, quas officiis sint ut dolores. Laudantium reprehenderit earum
          perferendis, nihil fugit dicta doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium, voluptas asperiores necessitatibus doloribus cum non molestiae minima impedit omnis temporibus
          tenetur consectetur, assumenda possimus eaque dolorem consequuntur expedita doloremque fuga.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit explicabo voluptates hic
          repudiandae exercitationem fuga enim, quas officiis sint ut dolores. Laudantium reprehenderit earum
          perferendis, nihil fugit dicta doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium, voluptas asperiores necessitatibus doloribus cum non molestiae minima impedit omnis temporibus
          tenetur consectetur, assumenda possimus eaque dolorem consequuntur expedita doloremque fuga.</p>
      </div>
      <!-- end scrollspy content item -->

      <!-- scrollspy content item -->
      <div id="item2" class="m-scrollspyContentItem js-scrollspyContentItem">
        <div class="demo__subline"><strong>Item 2</strong></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit explicabo voluptates hic
          repudiandae exercitationem fuga enim, quas officiis sint ut dolores. Laudantium reprehenderit earum
          perferendis, nihil fugit dicta doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium, voluptas asperiores necessitatibus doloribus cum non molestiae minima impedit omnis temporibus
          tenetur consectetur, assumenda possimus eaque dolorem consequuntur expedita doloremque fuga.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit explicabo voluptates hic
          repudiandae exercitationem fuga enim, quas officiis sint ut dolores. Laudantium reprehenderit earum
          perferendis, nihil fugit dicta doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium, voluptas asperiores necessitatibus doloribus cum non molestiae minima impedit omnis temporibus
          tenetur consectetur, assumenda possimus eaque dolorem consequuntur expedita doloremque fuga.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit explicabo voluptates hic
          repudiandae exercitationem fuga enim, quas officiis sint ut dolores. Laudantium reprehenderit earum
          perferendis, nihil fugit dicta doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium, voluptas asperiores necessitatibus doloribus cum non molestiae minima impedit omnis temporibus
          tenetur consectetur, assumenda possimus eaque dolorem consequuntur expedita doloremque fuga.</p>
      </div>
      <!-- end scrollspy content item -->

      <!-- scrollspy content item -->
      <div id="item3" class="m-scrollspyContentItem js-scrollspyContentItem">
        <div class="demo__subline"><strong>Item 3</strong></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit explicabo voluptates hic
          repudiandae exercitationem fuga enim, quas officiis sint ut dolores. Laudantium reprehenderit earum
          perferendis, nihil fugit dicta doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium, voluptas asperiores necessitatibus doloribus cum non molestiae minima impedit omnis temporibus
          tenetur consectetur, assumenda possimus eaque dolorem consequuntur expedita doloremque fuga.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit explicabo voluptates hic
          repudiandae exercitationem fuga enim, quas officiis sint ut dolores. Laudantium reprehenderit earum
          perferendis, nihil fugit dicta doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium, voluptas asperiores necessitatibus doloribus cum non molestiae minima impedit omnis temporibus
          tenetur consectetur, assumenda possimus eaque dolorem consequuntur expedita doloremque fuga.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugit explicabo voluptates hic
          repudiandae exercitationem fuga enim, quas officiis sint ut dolores. Laudantium reprehenderit earum
          perferendis, nihil fugit dicta doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laudantium, voluptas asperiores necessitatibus doloribus cum non molestiae minima impedit omnis temporibus
          tenetur consectetur, assumenda possimus eaque dolorem consequuntur expedita doloremque fuga.</p>
      </div>
      <!-- end scrollspy content -->

    </div>
  </main>



  <!-- scrollspy navigation -->
  <div class="m-scrollspyNavigation js-scrollspyNav" data-contentarea="js-scrollspyContent" data-highlight="top">
    <a class="m-scrollspyNavigation__item js-scrollspyNavItem" href="#item1">Item 1</a>
    <a class="m-scrollspyNavigation__item js-scrollspyNavItem" href="#item2">Item 2</a>
    <a class="m-scrollspyNavigation__item js-scrollspyNavItem" href="#item3">Item 3</a>
  </div>
  <!-- end scrollspy navigation -->



  <!-- color switch -->
  <div class="m-colorSwitch js-colorSwitch">
    <div class="m-colorSwitch__optionContainer js-colorSwitchOptions"></div>
  </div>
  <!-- end color switch -->

</body>

</html>