<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Björn Müller, webARTelier">
  <meta name="description" content="Demonstrates the classic tabbed content interface with keyboard accessibility and progressive enhancement using the yore framework.">

  <title>Yore Tabs</title>

  <!-- set color theme class without FOUC -->
  <script src="../js/setcolortheme.js"></script>
  <!-- end set color theme class without FOUC -->

  <script src="../js/main.min.js" defer></script>

  <!-- development only -->
  <script src="../js/_dev/dev_pageinfo.js" defer></script>
  <script src="../js/_dev/dev_a11yInspector.js" defer></script>
  <!-- end development only -->

  <link rel="stylesheet" href="../css/demo.css">
  <link rel="stylesheet" href="../css/main.min.css">
</head>

<body>

  <div class="demo">
    <div class="demo__header">
      <a class="demo__homeLink" href="../index.html" aria-label="To index page">
        <svg class="demo__logo" role="img" aria-label="Yore Logo">
          <use href="../media/img/content/logo_yore.svg#logo"></use>
        </svg>
      </a>
      <h1 class="demo__headline">Tabs</h1>
    </div>
  </div>



  <!-- tabs module -->
  <main class="m-tabs js-tabs">
    <div class="m-tabs__body">

      <div class="m-tabs__titleGrid" role="tablist">
        <button id="tab1" class="m-tabs__title js-tabTitle" role="tab" aria-controls="tabContent1" aria-selected="false" tabindex="-1" data-content="tabContent1">
          Tab 1
        </button>
        <button id="tab2" class="m-tabs__title js-tabTitle" role="tab" aria-controls="tabContent2" aria-selected="false" tabindex="-1" data-content="tabContent2">
          Tab 2
        </button>
        <button id="tab3" class="m-tabs__title js-tabTitle" role="tab" aria-controls="tabContent3" aria-selected="false" tabindex="-1" data-content="tabContent3">
          Tab 3
        </button>
        <button id="tab4" class="m-tabs__title js-tabTitle" role="tab" aria-controls="tabContent4" aria-selected="false" tabindex="-1" data-content="tabContent4">
          Tab 4
        </button>
        <button id="tab5" class="m-tabs__title js-tabTitle" role="tab" aria-controls="tabContent5" aria-selected="false" tabindex="-1" data-content="tabContent5">
          Tab 5
        </button>
      </div>

      <div class="m-tabs__content">
        <div id="tabContent1" class="m-tabs__contentItem js-tabContent" role="tabpanel" aria-labelledby="tab1" hidden>
          <div class="m-tabs__contentInner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iure amet quae, voluptatibus inventore
              perferendis beatae placeat laboriosam! Tempore explicabo adipisci autem sit ipsa obcaecati ut quod
              voluptatum doloremque repellendus!</p>
            <p>Consectetur adipisicing elit. Ea quibusdam labore cum totam fugit, natus voluptatum id praesentium
              quas pariatur! Ullam accusamus fuga dicta debitis delectus officiis hic quaerat vel!</p>
          </div>
        </div>
        <div id="tabContent2" class="m-tabs__contentItem js-tabContent" role="tabpanel" aria-labelledby="tab2" hidden>
          <div class="m-tabs__contentInner">
            <p>Temporibus enim minima modi ratione, dolor cumque dolores commodi quos! Explicabo fugiat deleniti
              molestiae expedita, repudiandae in amet. Consectetur adipisicing elit. Ea quibusdam labore cum totam
              fugit, natus voluptatum id praesentium quas pariatur! Ullam accusamus fuga dicta debitis delectus
              officiis hic quaerat vel!</p>
            <p>Reiciendis facilis ad molestiae odit, provident aliquid, earum minus ut veniam explicabo magnam?
              Magni voluptate similique accusamus possimus, fugiat a.</p>
          </div>
        </div>
        <div id="tabContent3" class="m-tabs__contentItem js-tabContent" role="tabpanel" aria-labelledby="tab3" hidden>
          <div class="m-tabs__contentInner">
            <p>Magni voluptate similique accusamus possimus, fugiat.</p>
          </div>
        </div>
        <div id="tabContent4" class="m-tabs__contentItem js-tabContent" role="tabpanel" aria-labelledby="tab4" hidden>
          <div class="m-tabs__contentInner">
            <p>Magni voluptate similique accusamus possimus, fugiat. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Enim ipsum laborum neque minima, nam at cumque autem. Enim cum ut quo reiciendis
              sint nisi at numquam, saepe quis tempore placeat!</p>
            <p>Aspernatur veritatis cumque id, magnam porro sed velit ex consequuntur aliquam perferendis nulla
              voluptate a eius harum alias assumenda.</p>
          </div>
        </div>
        <div id="tabContent5" class="m-tabs__contentItem js-tabContent" role="tabpanel" aria-labelledby="tab5" hidden>
          <div class="m-tabs__contentInner">
            <p>Eos laboriosam velit beatae! Ea fuga natus quos nemo nam iure minus nostrum architecto, inventore
              sint voluptatibus aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
              possimus. Assumenda corrupti, aliquid a aliquam repellat laborum deleniti porro aperiam adipisci quis
              rerum vitae molestias iure harum sit ipsam beatae. Nostrum, dolorem unde! Earum in sequi et aliquid
              aperiam dolor laborum? Corrupti dolores nemo, sit temporibus sapiente perferendis doloremque hic neque
              culpa?</p>
          </div>
        </div>
      </div>

    </div>
  </main>
  <!-- end tabs module -->



  <!-- color switch -->
  <div class="m-colorSwitch js-colorSwitch">
    <div class="m-colorSwitch__optionContainer js-colorSwitchOptions"></div>
  </div>
  <!-- end color switch -->

</body>

</html>