<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Björn Müller, webARTelier">
  <meta name="description" content="Demonstrates responsive video embedding with automatic source selection based on device resolution using the yore framework.">


  <title>Yore Responsive Video</title>

  <!-- set color theme class without FOUC -->
  <script src="../js/setcolortheme.js"></script>
  <!-- end set color theme class without FOUC -->

  <script src="../js/main.min.js" defer></script>

  <!-- development only -->
  <script src="../js/_dev/dev_pageinfo.js" defer></script>
  <script src="../js/_dev/dev_a11yInspector.js" defer></script>
  <!-- end development only -->

  <link rel="stylesheet" href="../css/demo.css">
  <link rel="stylesheet" href="../css/main.min.css">
</head>

<body>

  <div class="demo">
    <div class="demo__header">
      <a class="demo__homeLink" href="../index.html" aria-label="To index page">
        <svg class="demo__logo" role="img" aria-label="Yore Logo">
          <use href="../media/img/content/logo_yore.svg#logo"></use>
        </svg>
      </a>
      <h1 class="demo__headline">Video</h1>
    </div>
  </div>



  <!-- responsive video -->
  <main class="m-video">
    <div class="m-video__body">

      <video class="m-video__media js-responsiveVideo" data-srcs='{

        "mobile": 
          "https://res.cloudinary.com/dxdxjequc/video/upload/w_640,h_360,ar_16:9/v1745751181/greenblob.mp4",

        "mobileRetina": 
          "https://res.cloudinary.com/dxdxjequc/video/upload/w_854,h_480,ar_16:9/v1745751181/greenblob.mp4",
        
        "tablet": 
          "https://res.cloudinary.com/dxdxjequc/video/upload/w_854,h_480,ar_16:9/v1745751181/greenblob.mp4",

        "tabletRetina":
          "https://res.cloudinary.com/dxdxjequc/video/upload/w_1280,h_720,ar_16:9/v1745751181/greenblob.mp4",

        "desktop": 
          "https://res.cloudinary.com/dxdxjequc/video/upload/w_1920,h_1080,ar_16:9/v1745751181/greenblob.mp4",

        "desktopRetina": 
          "https://res.cloudinary.com/dxdxjequc/video/upload/w_3840,h_2160,ar_16:9/v1745751181/greenblob.mp4"

        }' poster="../media/video/poster_greenblob.jfif" controls loop>
        <source src="#" type="">
        Your browser does not support the video tag.
      </video>

    </div>
  </main>
  <!-- end responsive video -->



  <!-- color switch -->
  <div class="m-colorSwitch js-colorSwitch">
    <div class="m-colorSwitch__optionContainer js-colorSwitchOptions"></div>
  </div>
  <!-- end color switch -->

</body>

</html>