.t-velvetLight {

  // primary semantic colors
  --clr-primary: var(--clr-velvet-500);
  --clr-accent: var(--clr-dustyGold-400);
  --clr-muted: var(--clr-mauveAsh-300);

  --clr-text: var(--clr-velvet-500);
  --clr-textInverse: var(--clr-pergament-50);
  --clr-textMuted: var(--clr-fog-400);
  --clr-textOnSurface: var(--clr-pergament-50);

  --clr-background: var(--clr-pergament-50);
  --clr-surface: var(--clr-velvet-500);
  --clr-surfaceMuted: var(--clr-fog-100);

  --clr-borderStrong: var(--clr-velvet-500);
  --clr-borderMuted: var(--clr-fog-100);

  // info states
  --clr-success: var(--clr-forestShadow-500);
  --clr-warning: var(--clr-amberClay-500);
  --clr-error: var(--clr-oxblood-500);
  --clr-info: var(--clr-powderBlue-500);

  // interactive states
  --clr-link: var(--clr-velvet-500);
  --clr-focus: var(--clr-dustyGold-400);
  --clr-focusOutline: var(--clr-dustyGold-400);
  --clr-active: var(--clr-velvet-900);

  // veils & shadows
  --clr-veil: var(--clr-black-03);
  --clr-veilOnImage: var(--clr-black-50);
  --shd-background: var(--clr-black-03);
  --sdw-backdrop: var(--sdw-black-50);
}



.t-velvetDark {

  // primary semantic colors
  --clr-primary: var(--clr-wineBlush-500);
  --clr-accent: var(--clr-goldenGlow-500);
  --clr-muted: var(--clr-fog-700);

  --clr-text: var(--clr-frostedPetal-50);
  --clr-textInverse: var(--clr-nightVelvet-950);
  --clr-textMuted: var(--clr-fog-700);
  --clr-textOnSurface: var(--clr-frostedPetal-50);

  --clr-background: var(--clr-nightVelvet-950);
  --clr-surface: var(--clr-wineBlush-500);
  --clr-surfaceMuted: var(--clr-fog-700);

  --clr-borderStrong: var(--clr-goldenGlow-500);
  --clr-borderMuted: var(--clr-fog-700);

  // info states
  --clr-success: var(--clr-forestShadow-500);
  --clr-warning: var(--clr-amberClay-500);
  --clr-error: var(--clr-oxblood-500);
  --clr-info: var(--clr-powderBlue-500);

  // interactive states
  --clr-link: var(--clr-goldenGlow-500);
  --clr-focus: var(--clr-goldenGlow-500);
  --clr-focusOutline: var(--clr-goldenGlow-500);
  --clr-active: var(--clr-wineBlush-500);

  // veils & shadows
  --clr-veil: var(--clr-white-03);
  --clr-veilOnImage: var(--clr-black-50);
  --shd-background: var(--clr-white-03);
  --sdw-backdrop: var(--sdw-white-30);
}