<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Björn Müller, webARTelier">
  <meta name="description" content="Yore Elements Overview">

  <title>Yore Index</title>

  <!-- set color theme class without FOUC -->
  <script src="js/setcolortheme.js"></script>
  <!-- end set color theme class without FOUC -->

  <script src="js/main.min.js" defer></script>

  <!-- development only -->
  <script src="js/_dev/dev_pageinfo.js" defer></script>
  <script src="js/_dev/dev_a11yInspector.js" defer></script>
  <!-- end development only -->

  <link rel="stylesheet" href="css/demo.css">
  <link rel="stylesheet" href="css/main.min.css">
</head>

<body>

  <div class="demo">
    <div class="demo__header">
      <div class="demo__homeLink">
        <svg class="demo__logo" role="img" aria-label="Yore Logo">
          <use href="media/img/content/logo_yore.svg#logo"></use>
        </svg>
      </div>
      <h1 class="demo__headline">Index</h1>
    </div>
  </div>



  <main class="demo">

    <section class="demo__section">
      <div class="demo__linkGrid">
        <h2 class="demo__subline">Design/Layout</h2>
        <a class="c-link" href="styletile.html">Style Tile</a>
        <a class="c-link" href="modulespacing.html">Module Spacing</a>
      </div>



      <div class="demo__linkGrid">
        <h2 class="demo__subline">Components</h2>
        <a class="c-link" href="html/c_dialog.html">Dialog Element/Off Canvas</a>
        <a class="c-link" href="html/c_fileupload.html">File Upload</a>
        <a class="c-link" href="html/c_form.html">Form &amp; FE Validation</a>
        <a class="c-link" href="html/c_previewimg.html">Preview Images</a>
        <a class="c-link" href="html/c_moreless.html">More/Less-Switch</a>
        <a class="c-link" href="html/c_skiplink.html">Skip Link</a>
        <a class="c-link" href="html/c_sticky.html">Sticky Element</a>
        <a class="c-link" href="html/c_swipeevents.html">Swipe Events</a>
      </div>


      
      <div class="demo__linkGrid">
        <h2 class="demo__subline">Modules</h2>
        <a class="c-link" href="html/m_accordion.html">Accordion</a>
        <a class="c-link" href="html/m_lightbox.html">Lightbox</a>
        <a class="c-link" href="html/m_scrollspy.html">Scrollspy</a>
        <a class="c-link" href="html/m_slider.html">Slider</a>
        <a class="c-link" href="html/m_tabcordion.html">Tabcordion</a>
        <a class="c-link" href="html/m_tabcordion.html#tabcordionContent4">Tabcordion ⇨ Item 4</a>
        <a class="c-link" href="html/m_tabs.html">Tabs</a>
        <a class="c-link" href="html/m_tabs.html#tabContent4">Tabs ⇨ Tab4</a>
        <a class="c-link" href="html/m_video.html">Responsive Video</a>
      </div>
    </section>

  </main>



  <!-- color switch -->
  <div class="m-colorSwitch js-colorSwitch">
    <div class="m-colorSwitch__optionContainer js-colorSwitchOptions"></div>
  </div>
  <!-- end color switch -->

</body>

</html>