@use '../forward'as *;



.m-colorSwitch {
  @include fixed(1em 1em auto auto);



  &__optionContainer {
    position: relative;
    z-index: var(--zi-aboveBackground);

    display: flex;
    justify-content: start;
    gap: 0.25em;
  }



  &__option {
    @include size(1.5em);

    & {
      cursor: pointer;

      border-radius: 50%;

      display: grid;
      place-content: center;

      font-family: icomoon;

      transition:
        color var(--an-duration) var(--an-ease),
        background-color var(--an-duration) var(--an-ease);
    }

    &:hover,
    &.is-active {
      color: var(--clr-textOnSurface);
      background-color: var(--clr-surface);
    }
  }
}