@use '../forward'as *;



.m-colorSwitch {
  @include fixed(0 0 auto auto);



  &__optionContainer {
    position: relative;
    z-index: var(--zi-aboveBackground);

    display: flex;
    justify-content: start;

    background-color: var(--clr-background);
  }



  &__option {
    cursor: pointer;

    opacity: 0.3;
    padding: 0.5em 1em;
    font-size: 0.7em;

    color: var(--clr-textOnSurface);
    background-color: var(--clr-surface);

    transition: opacity var(--an-duration) var(--an-ease);

    &:first-child {
      border-bottom-left-radius: var(--sz-borderRadius);
    }

    &:hover,
    &.is-active {
      opacity: 1;
    }
  }
}