@use '../forward'as *;



.m-lightbox {
  @include fixed(50% 50% auto);

  & {
    outline: none;
    display: block;

    border-radius: var(--sz-borderRadius);
    width: min(90vw, 1200px);
    max-height: 90vh;

    color: var(--clr-text);
    background-color: var(--clr-background);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0);

    transition: all var(--an-duration) var(--an-ease);
    transform: translate3d(-50%, -50%, 0) scale(0);
    opacity: 0;
  }

  &::backdrop {
    backdrop-filter: blur(5px);
    transition: all var(--an-duration) var(--an-ease);
  }

  &[open] {
    box-shadow: var(--boxShadow);
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }



  &__close {
    @include absolute(1em 1em auto auto);

    & {
      cursor: pointer;
      opacity: 0.75;

      border: 1px solid var(--clr-textOnSurface);
      border-radius: var(--sz-borderRadius);
      padding: 0.5em;

      color: var(--clr-textOnSurface);
      background-color: var(--clr-veil-dark);
      backdrop-filter: blur(5px);

      transition: opacity var(--an-duration) var(--an-ease);
    }

    &:hover {
      opacity: 1;
    }
  }



  &__imgWrapper {
    aspect-ratio: 16 / 9;
  }



  &__img {
    @include size(100%);

    & {
      object-fit: cover;
    }
  }



  &__info {
    padding: 1em 1em 1em 2em;

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.2em 1em;
  }



  &__title {
    @include typo-subline;

    & {
      grid-column: 1;
      grid-row: 1;
    }
  }



  &__description {
    @include typo-bodySmall;

    & {
      grid-column: 1;
      grid-row: 2;
    }
  }



  &__nav {
    grid-column: 2;
    grid-row: 1 / 3;
    align-self: end;

    display: flex;
    justify-content: space-between;
    gap: 0 0.5em;
  }



  &__navIcon {
    @include focusOutline;

    & {
      cursor: pointer;
      opacity: 0.6;

      border: 1px solid var(--clr-text);
      border-radius: var(--sz-borderRadius);
      padding: 0.25em;

      transition: opacity var(--an-duration) var(--an-ease);
    }

    &:hover {
      opacity: 1;
    }
  }
}