@use '../forward'as *;
@use 'sass:math';



.m-tabs {
  @include moduleRow;



  &__body {
    @include placeInContentArea;
  }



  &__titleGrid {
    padding-inline: 1em;
    max-width: calc(goldenratio-a(1200px));

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 0 0.5em;
  }



  &__title {
    @include focusOutline;

    & {
      position: relative;
      z-index: 2;

      border: 1px solid var(--clr-borderStrong);
      border-top-left-radius: var(--sz-borderRadius);
      border-top-right-radius: var(--sz-borderRadius);
      padding: 0.2em 0.5em;
      text-align: center;

      color: var(--clr-textMuted);
      background-color: var(--clr-background);

      &:hover,
      &.is-activeTab {
        border-block-end: 1px solid var(--clr-background);
        color: var(--clr-text);
      }
    }
  }



  &__content {
    position: relative;
    z-index: 1;

    margin-block-start: -1px;
    border: 1px solid var(--clr-borderStrong);
    border-radius: var(--sz-borderRadius);
    padding: 1em 1.5em;

    background-color: var(--clr-background);
  }



  &__contentItem {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr;

    &.is-activeTab {
      grid-template-rows: 1fr;
      transition: all var(--an-duration) var(--an-ease);
    }
  }



  &__contentInner {
    overflow: hidden;
  }
}