@use '../a_tools/_grid'as *;



.o-pageWrapper {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}



// module spaces
.has-surface + .is-inline,
.is-inline + .has-surface,
.is-inline + .is-inline {
  margin-block-start: var(--moduleSpacing);
}